body {
  width: 1100px;
  font-family: "Times New Roman", Times, serif;
}

header {
  background: url(../img/pattern.png);
  width: 100%;
  height: 150px;
  background-color: skyblue;
  background-size: contain;
}

#logo {
  position: relative;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 10px;
}

.card {
  width: 250px;
  height: 250px;
  background-size: cover;
  color: #ffff;
  font-weight: bold;
}

.testoblu {
  color: cornflowerblue;
}

.date,
.potrebbero_interes {
  color: darkgray;
}

.testogiallo {
  color: gold;
}

.txt-1 {
  background: url(../img/graph.jpg);
}

.txt-2 {
  background: url(../img/monitor.jpg);
}

.descrizionefoto {
  font-size: small;
  color: rgb(59, 59, 59);
}

table {
  width: 100%;
  border-collapse: collapse;
}

.theadblu {
  padding: 8px;
  text-align: left;
  background-color: royalblue;
  color: #ffff;
}

.tbodyazzurro {
  padding: 8px;
  text-align: left;
  color: black;
  background-color: paleturquoise;
}
